@charset "UTF-8";
/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/
/*@import "flatpickr/dist/flatpickr.min.css";*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html.scroll-prevent {
  overflow: hidden;
}

body {
  background-color: #fff;
  font-family: “Times New Roman”, “游明朝”, “Yu Mincho”, “游明朝体”, “YuMincho”, “ヒラギノ明朝 Pro W3”, “Hiragino Mincho Pro”, “HiraMinProN-W3”, “HGS明朝E”, “ＭＳ Ｐ明朝”, “MS PMincho”, serif;
  font-size: 1rem;
  font-weight: 500;
  color: #000;
}

body.fixed {
  position: fixed;
  width: 100%;
  height: 100%;
}

img {
  vertical-align: bottom;
  width: 100%;
}

p, a, span {
  line-break: strict;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: 500;
}

a {
  text-decoration: none;
  color: #000;
}

li {
  list-style: none;
}

.sectionWrapper {
  max-width: 1240px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 30px;
  padding-left: 30px;
}

.sectionTtlWrapper {
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  padding: 60px 30px 68px 30px;
}
@media screen and (max-width: 519px) {
  .sectionTtlWrapper {
    padding: 60px 30px 50px 30px;
  }
}
.sectionTtlWrapper .sectionTtlWrapper__logo {
  display: block;
  margin-right: auto;
  margin-left: auto;
  width: 40px;
  height: 40px;
}
.sectionTtlWrapper .sectionTtlWrapper__ttl {
  padding-top: 15px;
  font-weight: 500;
  font-size: 2rem;
  letter-spacing: 0.08em;
  line-height: 1.5;
}
.sectionTtlWrapper .sectionTtlWrapper__ttl span {
  display: inline-block;
}
@media screen and (max-width: 519px) {
  .sectionTtlWrapper .sectionTtlWrapper__ttl {
    font-size: 1.5rem;
    line-height: 1.2;
  }
}

.flex-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}

input[type=submit] {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.hidden {
  overflow: hidden;
}

.si-header {
  position: fixed;
  top: -80px;
  left: 0;
  z-index: 5;
  width: 100vw;
  background-color: #fff;
}
.si-header .header--flex-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.si-header .header-wrapper {
  height: 80px;
  max-width: 1960px;
  padding: 0 20px;
  margin-right: auto;
  margin-left: auto;
}
.si-header .header-wrapper .siteLogo__logo {
  display: inline-block;
  width: 200px;
}
@media screen and (max-width: 959px) {
  .si-header .header-wrapper .siteLogo__logo {
    width: 150px;
  }
}
@media screen and (max-width: 519px) {
  .si-header .header-wrapper .siteLogo__logo {
    width: 120px;
    margin-right: 15px;
  }
}
.si-header .header-wrapper .siteLogo__logo img {
  width: 100%;
}
.si-header .header-wrapper .pc-global-menu {
  padding-left: 120px;
}
.si-header .header-wrapper .pc-global-menu ul li {
  font-weight: 800;
}
.si-header .header-wrapper .pc-global-menu ul li:not(:last-child) {
  padding-right: 30px;
}
.si-header .header-wrapper .pc-global-menu ul li a {
  color: #000;
  font-size: 1rem;
}
@media screen and (max-width: 959px) {
  .si-header .header-wrapper .pc-global-menu {
    display: none;
  }
}
.si-header .header-btn {
  margin-left: auto;
  display: block;
  text-align: center;
  width: 179px;
  height: 54px;
  font-weight: 800;
  font-size: 0.875rem;
  line-height: 54px;
  color: #fff;
  background-color: #978F10;
}
@media screen and (max-width: 959px) {
  .si-header .header-btn {
    width: 130px;
    height: 40px;
    font-size: 0.75rem;
    line-height: 40px;
  }
}
.si-header .header-btn img {
  display: inline-block;
  width: 22px;
  height: 22px;
  vertical-align: middle;
  margin-right: 10px;
}
@media screen and (max-width: 959px) {
  .si-header .header-btn img {
    width: 18px;
    height: 18px;
    margin-right: 0;
  }
}
.si-header .header-btn:hover {
  opacity: 0.7;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.si-header .button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.si-header .hamburger {
  display: none;
  margin-left: auto;
  position: relative;
  top: 0;
  right: 0;
  z-index: 300;
  width: 50px;
  min-width: 50px;
  height: 50px;
  min-height: 50px;
  border-radius: 50%;
  outline: none;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-box-shadow: 0 0 2rem transparent;
  box-shadow: 0 0 2rem transparent;
}
@media screen and (max-width: 959px) {
  .si-header .hamburger {
    display: block;
  }
}
.si-header .hamburger:hover, .si-header .hamburger:focus {
  -webkit-box-shadow: 0 0 0.5rem rgba(161, 161, 161, 0.5);
  box-shadow: 0 0 0.5rem rgba(161, 161, 161, 0.5);
}
@media screen and (max-width: 959px) {
  .si-header .hamburger {
    margin-left: 5px;
  }
}
.si-header .hamburger__line {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 22px;
  height: 2px;
  border-radius: 2px;
  background-color: #000;
  -webkit-transition: inherit;
  transition: inherit;
}
.si-header .hamburger__line::before, .si-header .hamburger__line::after {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  background-color: inherit;
  -webkit-transition: inherit;
  transition: inherit;
}
.si-header .is-drawerActive .sp-global-menu {
  -webkit-transform: translateX(0px);
  transform: translateX(0px);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.si-header .is-drawerActive .drawer-background {
  visibility: visible;
  opacity: 0.8;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.si-header .hamburger__line::before {
  top: -7px;
}
.si-header .hamburger__line::after {
  top: 7px;
}
.si-header .hamburger[aria-expanded=true] {
  border: 1px solid #000 !important;
}
.si-header .hamburger[aria-expanded=true] .hamburger__line {
  background-color: transparent;
}
.si-header .hamburger[aria-expanded=true] .hamburger__line::before,
.si-header .hamburger[aria-expanded=true] .hamburger__line::after {
  top: 0;
  background-color: #000;
}
.si-header .hamburger[aria-expanded=true] .hamburger__line::before {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.si-header .hamburger[aria-expanded=true] .hamburger__line::after {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.si-header.top0 {
  top: 0 !important;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100vw;
}
.header .header-wrapper {
  height: 80px;
  max-width: 1960px;
  padding: 0 20px;
  margin-right: auto;
  margin-left: auto;
}
.header .header-wrapper .siteLogo__logo {
  display: inline-block;
  width: 200px;
}
@media screen and (max-width: 959px) {
  .header .header-wrapper .siteLogo__logo {
    width: 150px;
  }
}
@media screen and (max-width: 519px) {
  .header .header-wrapper .siteLogo__logo {
    width: 120px;
    margin-right: 15px;
  }
}
.header .header-wrapper .siteLogo__logo img {
  width: 100%;
}
.header .header-wrapper .pc-global-menu {
  padding-left: 120px;
}
.header .header-wrapper .pc-global-menu ul li {
  font-weight: 800;
}
.header .header-wrapper .pc-global-menu ul li:not(:last-child) {
  padding-right: 30px;
}
.header .header-wrapper .pc-global-menu ul li a {
  color: #fff;
  font-size: 1rem;
}
@media screen and (max-width: 959px) {
  .header .header-wrapper .pc-global-menu {
    display: none;
  }
}

.header--flex-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header-btn {
  margin-left: auto;
  display: block;
  text-align: center;
  width: 179px;
  height: 54px;
  font-weight: 800;
  font-size: 0.875rem;
  line-height: 54px;
  color: #fff;
  background-color: #978F10;
}
@media screen and (max-width: 959px) {
  .header-btn {
    width: 130px;
    height: 40px;
    font-size: 0.75rem;
    line-height: 40px;
  }
}
.header-btn img {
  display: inline-block;
  width: 22px;
  height: 22px;
  vertical-align: middle;
  margin-right: 10px;
}
@media screen and (max-width: 959px) {
  .header-btn img {
    width: 18px;
    height: 18px;
    margin-right: 0;
  }
}
.header-btn:hover {
  opacity: 0.7;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.hamburger {
  display: none;
  margin-left: auto;
  position: relative;
  top: 0;
  right: 0;
  z-index: 200;
  width: 50px;
  min-width: 50px;
  height: 50px;
  min-height: 50px;
  border-radius: 50%;
  outline: none;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-box-shadow: 0 0 2rem transparent;
  box-shadow: 0 0 2rem transparent;
}
@media screen and (max-width: 959px) {
  .hamburger {
    display: block;
  }
}
.hamburger:hover, .hamburger:focus {
  -webkit-box-shadow: 0 0 0.5rem rgba(161, 161, 161, 0.5);
  box-shadow: 0 0 0.5rem rgba(161, 161, 161, 0.5);
}
@media screen and (max-width: 959px) {
  .hamburger {
    margin-left: 5px;
  }
}

.hamburger__line {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 22px;
  height: 2px;
  border-radius: 2px;
  background-color: #fff;
  -webkit-transition: inherit;
  transition: inherit;
}
.hamburger__line::before, .hamburger__line::after {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  background-color: inherit;
  -webkit-transition: inherit;
  transition: inherit;
}

.drawer-background {
  position: fixed;
  z-index: 120;
  width: 100vw;
  top: 80px;
  right: 0;
  bottom: 0;
  overflow: hidden;
  height: 100vh;
  background-color: #000;
  color: #fff;
  visibility: hidden;
  opacity: 0;
}

.is-drawerActive .sp-global-menu {
  -webkit-transform: translateX(0px);
  transform: translateX(0px);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.is-drawerActive .drawer-background {
  visibility: visible;
  opacity: 0.3;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.hamburger__line::before {
  top: -7px;
}

.hamburger__line::after {
  top: 7px;
}

.hamburger[aria-expanded=true] {
  border: 1px solid #fff !important;
}

.hamburger[aria-expanded=true] .hamburger__line {
  background-color: transparent;
}

.hamburger[aria-expanded=true] .hamburger__line::before,
.hamburger[aria-expanded=true] .hamburger__line::after {
  top: 0;
  background-color: #fff;
}

.hamburger[aria-expanded=true] .hamburger__line::before {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.hamburger[aria-expanded=true] .hamburger__line::after {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.sp-global-menu {
  position: fixed;
  z-index: 150;
  width: 280px;
  top: 80px;
  right: 0;
  bottom: 0;
  overflow: hidden;
  height: 100vh;
  background-color: #000;
  -webkit-transform: translateX(280px);
  transform: translateX(280px);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.sp-global-menu nav {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.sp-global-menu nav ul li {
  padding-top: 20px;
}
.sp-global-menu nav ul li a {
  font-size: 1.125rem;
  color: #fff;
  text-align: center;
}

.modal {
  display: none;
  height: 100vh;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}
.modal .modal__bg {
  background: rgba(255, 255, 255, 0.5);
  height: 100vh;
  position: absolute;
  width: 100%;
}
.modal .modal__content {
  display: block;
  position: absolute;
  top: 41%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 550px;
  min-height: 600px;
  background-color: #ffffff;
}
@media screen and (max-width: 1179px) {
  .modal .modal__content {
    top: 45%;
    width: 400px;
  }
}
@media screen and (max-width: 959px) {
  .modal .modal__content {
    width: 350px;
  }
}
@media screen and (max-width: 519px) {
  .modal .modal__content {
    top: 55%;
    width: 315px;
    overflow: scroll;
  }
}
.modal .modal__content .cross {
  margin-left: auto;
  top: 20px;
  right: 22px;
  display: block;
  width: 18px;
  height: 18px;
  position: relative;
  cursor: pointer;
}
.modal .modal__content .cross::before, .modal .modal__content .cross::after {
  position: absolute;
  content: " ";
  top: 50%;
  left: 50%;
  width: 2px;
  height: 25px;
  background-color: #707070;
}
.modal .modal__content .cross::before {
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
  transform: translate(-50%, -50%) rotate(45deg);
}
.modal .modal__content .cross::after {
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
  transform: translate(-50%, -50%) rotate(-45deg);
}
.modal .modal__content .modal__content__inner {
  padding: 12px 60px 90px 60px;
}
.modal .modal__content .modal__content__inner .modal__content__ttl {
  text-align: center;
  font-size: 1.25rem;
  padding-bottom: 29px;
  border-bottom: 1px solid #e7e7e7;
  margin-bottom: 35px;
}
.modal .modal__content .modal__content__inner form .box {
  margin-top: 14px;
  width: 100%;
}
.modal .modal__content .modal__content__inner form .box label {
  font-size: 1rem;
}
.modal .modal__content .modal__content__inner form .box input {
  margin-top: 14px;
  width: 100%;
  height: 32px;
  border: 1px solid #e7e7e7;
}
.modal .modal__content .modal__content__inner form .box input::-webkit-input-placeholder {
  color: #797878;
}
.modal .modal__content .modal__content__inner form .box input::-moz-placeholder {
  color: #797878;
}
.modal .modal__content .modal__content__inner form .box input:-ms-input-placeholder {
  color: #797878;
}
.modal .modal__content .modal__content__inner form .box input::-ms-input-placeholder {
  color: #797878;
}
.modal .modal__content .modal__content__inner form .box input::placeholder {
  color: #797878;
}
.modal .modal__content .modal__content__inner form .box select {
  margin-top: 14px;
  width: 100%;
  height: 36px;
  border: 1px solid #e7e7e7;
}
.modal .modal__content .modal__content__inner form .box select:invalid {
  color: #797878;
}
.modal .modal__content .modal__content__inner form .submit-btn {
  margin-right: auto;
  margin-left: auto;
  margin-top: 64px;
  display: block;
  text-align: center;
  width: 198px;
  max-width: 198px;
  height: 42px;
  border: 1px solid #707070;
  font-size: 1rem;
  line-height: 42px;
}
@media screen and (max-width: 519px) {
  .modal .modal__content .modal__content__inner form .submit-btn {
    width: 130px;
  }
}
.modal .modal__content .modal__content__inner form .submit-btn:hover {
  opacity: 0.5;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.flatpickr-calendar .flatpickr-innerContainer .flatpickr-weekdays .flatpickr-weekday:nth-child(7n+1),
.flatpickr-calendar .flatpickr-innerContainer .flatpickr-days .flatpickr-day:not(.flatpickr-disabled):not(.prevMonthDay):not(.nextMonthDay):nth-child(7n+1) {
  color: #f00;
}

.flatpickr-calendar .flatpickr-innerContainer .flatpickr-weekdays .flatpickr-weekday:nth-child(7),
.flatpickr-calendar .flatpickr-innerContainer .flatpickr-days .flatpickr-day:not(.flatpickr-disabled):not(.prevMonthDay):not(.nextMonthDay):nth-child(7n) {
  color: #25bdcf;
}

.flatpickr-day.is-holiday {
  background: #ffcccc !important;
}

.flatpickr-calendar .numInput {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.flatpickr-wrapper {
  display: block;
  height: 36px;
}

.datepickerStyle {
  height: 100%;
}

.fv .slide .item .bg {
  height: 1078px;
  max-height: 95vh;
  background-size: cover;
  background-position: center center;
  overflow: hidden;
}
@media screen and (max-width: 519px) {
  .fv .slide .item .bg {
    max-height: 84vh;
  }
}
.fv .slide-animation {
  -webkit-animation: fadezoom 8s 0s forwards;
  animation: fadezoom 8s 0s forwards;
}
@-webkit-keyframes fadezoom {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
}
@keyframes fadezoom {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
}
.fv .fv__ttl {
  position: absolute;
  top: 27.6%;
  left: 66.5%;
  z-index: 3;
  -webkit-writing-mode: vertical-rl;
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
}
@media screen and (max-width: 959px) {
  .fv .fv__ttl {
    -webkit-writing-mode: rl-tb;
    -ms-writing-mode: rl-tb;
    writing-mode: rl-tb;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 90vw;
    text-align: center;
  }
}
.fv .fv__ttl h1 {
  font-weight: 800;
  font-size: 2.125rem;
  color: #fff;
  line-height: 2.253;
  letter-spacing: 1.08rem;
}
@media screen and (max-width: 519px) {
  .fv .fv__ttl h1 {
    font-size: 1.75rem;
    letter-spacing: 0.5rem;
    line-height: 1.8;
  }
}

.concept {
  background-image: url("https://github.com/susumu3/sho_sample_middleEx/blob/main/image/concept-bg.png?raw=true");
  min-height: 681px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.concept .sectionWrapper {
  padding-top: 62px;
  -webkit-writing-mode: vertical-rl;
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
}
@media screen and (max-width: 959px) {
  .concept .sectionWrapper {
    -webkit-writing-mode: rl-tb;
    -ms-writing-mode: rl-tb;
    writing-mode: rl-tb;
  }
}
@media screen and (max-width: 519px) {
  .concept .sectionWrapper {
    text-align: center;
  }
}
.concept .sectionWrapper .conceptContent__ttl h2 {
  font-weight: normal;
  font-size: 1.75rem;
  line-height: 2.3;
  letter-spacing: 0.5em;
  text-indent: -3em;
  padding-top: 3em;
}
.concept .sectionWrapper .conceptContent__ttl h2 .brSp {
  display: none;
}
@media screen and (max-width: 959px) {
  .concept .sectionWrapper .conceptContent__ttl h2 {
    text-indent: -2.5em;
    padding-left: 3em;
    padding-top: 0;
    letter-spacing: 0.3em;
    margin-left: 5%;
  }
}
@media screen and (max-width: 519px) {
  .concept .sectionWrapper .conceptContent__ttl h2 {
    text-indent: 0;
    padding-left: 0;
    font-size: 1.5rem;
    margin-left: 0;
    line-height: 1.5;
  }
  .concept .sectionWrapper .conceptContent__ttl h2 .brSp {
    display: block;
  }
}
.concept .sectionWrapper .conceptContent__text {
  text-orientation: upright;
  font-weight: normal;
  font-size: 1rem;
  line-height: 2;
  letter-spacing: 0.15em;
  padding-top: 92px;
  padding-right: 105px;
}
@media screen and (max-width: 1179px) {
  .concept .sectionWrapper .conceptContent__text {
    padding-right: 80px;
  }
}
@media screen and (max-width: 959px) {
  .concept .sectionWrapper .conceptContent__text {
    padding-top: 60px;
    padding-right: 0;
    padding-left: 90px;
  }
}
@media screen and (max-width: 519px) {
  .concept .sectionWrapper .conceptContent__text {
    padding-left: 0;
  }
  .concept .sectionWrapper .conceptContent__text br {
    display: none;
  }
}
.concept .sectionWrapper .conceptContent__name {
  font-size: 1.375rem;
  padding-top: 379px;
  padding-right: 123px;
  padding-left: 107px;
  letter-spacing: 0.5em;
}
@media screen and (max-width: 959px) {
  .concept .sectionWrapper .conceptContent__name {
    padding-top: 60px;
    padding-right: 0;
    padding-bottom: 90px;
    padding-left: 90px;
  }
}
@media screen and (max-width: 519px) {
  .concept .sectionWrapper .conceptContent__name {
    padding-left: 0;
  }
}

.cardWrapper {
  padding-top: 106px;
  padding-bottom: 78px;
}
@media screen and (max-width: 959px) {
  .cardWrapper {
    padding-top: 0;
    padding-bottom: 10px;
  }
}
@media screen and (max-width: 519px) {
  .cardWrapper {
    padding-top: 0;
  }
}
.cardWrapper .cards .cards__card {
  height: 545px;
  -webkit-box-align: top;
  -ms-flex-align: top;
  align-items: top;
}
@media screen and (max-width: 959px) {
  .cardWrapper .cards .cards__card {
    height: unset;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
.cardWrapper .cards .cards__card:not(:first-of-type) {
  margin-top: 122px;
}
@media screen and (max-width: 959px) {
  .cardWrapper .cards .cards__card:not(:first-of-type) {
    margin-top: 40px;
  }
}
@media screen and (max-width: 519px) {
  .cardWrapper .cards .cards__card:not(:first-of-type) {
    margin-top: 40px;
  }
}
.cardWrapper .cards .cards__card .card__img {
  width: 54.7%;
}
.cardWrapper .cards .cards__card .card__img img {
  -o-object-fit: cover;
  object-fit: cover;
  height: 100%;
}
@media screen and (max-width: 959px) {
  .cardWrapper .cards .cards__card .card__img {
    width: 100%;
    height: 70vh;
  }
}
.cardWrapper .cards .cards__card .card__content {
  width: 38.2%;
}
@media screen and (max-width: 959px) {
  .cardWrapper .cards .cards__card .card__content {
    width: 100%;
    height: auto;
    padding-left: 80px;
    padding-right: 60px;
  }
}
@media screen and (max-width: 519px) {
  .cardWrapper .cards .cards__card .card__content {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.cardWrapper .cards .cards__card .card__content h3 {
  padding-top: 23px;
  font-weight: normal;
  font-size: 2.25rem;
  line-height: 1.722;
}
.cardWrapper .cards .cards__card .card__content h3 span {
  display: inline-block;
}
@media screen and (max-width: 519px) {
  .cardWrapper .cards .cards__card .card__content h3 {
    font-size: 1.875rem;
  }
}
@media screen and (max-width: 519px) {
  .cardWrapper .cards .cards__card .card__content h3 {
    font-size: 1.625rem;
  }
}
.cardWrapper .cards .cards__card .card__content .card__contnt_lead {
  padding-top: 48px;
  line-height: 2;
  font-size: 1rem;
}
@media screen and (max-width: 1179px) {
  .cardWrapper .cards .cards__card .card__content .card__contnt_lead br {
    display: none;
  }
}
@media screen and (max-width: 959px) {
  .cardWrapper .cards .cards__card .card__content .card__contnt_lead {
    padding-top: 45px;
  }
}
@media screen and (max-width: 519px) {
  .cardWrapper .cards .cards__card .card__content .card__contnt_lead {
    font-size: 0.875rem;
  }
  .cardWrapper .cards .cards__card .card__content .card__contnt_lead br {
    display: none;
  }
}
.cardWrapper .cards .cards__card .card__content .card-btn {
  margin-top: 75px;
  display: block;
  text-align: center;
  width: 200px;
  height: 56px;
  line-height: 56px;
  border: 1px solid #707070;
  margin-bottom: 108px;
}
@media screen and (max-width: 959px) {
  .cardWrapper .cards .cards__card .card__content .card-btn {
    margin-top: 45px;
    margin-bottom: 58px;
  }
}
@media screen and (max-width: 519px) {
  .cardWrapper .cards .cards__card .card__content .card-btn {
    margin-right: auto;
    margin-left: auto;
  }
}

.cardPaddingLeft {
  padding-left: 21.3%;
}
@media screen and (max-width: 1630px) {
  .cardPaddingLeft {
    padding-left: 8%;
  }
}
@media screen and (max-width: 1179px) {
  .cardPaddingLeft {
    padding-left: 5%;
  }
}
@media screen and (max-width: 959px) {
  .cardPaddingLeft {
    padding-left: 0;
  }
}

.recommended {
  background-image: url("https://github.com/susumu3/sho_sample_middleEx/blob/main/image/bg02.png?raw=true");
  background-size: cover;
  background-repeat: no-repeat;
}
.recommended .sectionWrapper {
  padding-bottom: 144px;
}
@media screen and (max-width: 519px) {
  .recommended .sectionWrapper {
    padding-bottom: 100px;
  }
}
@media screen and (max-width: 519px) {
  .recommended .sectionWrapper .recommendedCards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
.recommended .sectionWrapper .recommendedCards .recommendedCards__card {
  width: 28.1%;
}
@media screen and (max-width: 519px) {
  .recommended .sectionWrapper .recommendedCards .recommendedCards__card {
    width: 100%;
  }
  .recommended .sectionWrapper .recommendedCards .recommendedCards__card:not(:first-of-type) {
    padding-top: 80px;
  }
}
.recommended .sectionWrapper .recommendedCards .recommendedCards__card .recommendedCards__card__content h4 {
  font-size: 1.25rem;
  line-height: 32px;
  font-weight: normal;
  padding-top: 20px;
}
@media screen and (max-width: 519px) {
  .recommended .sectionWrapper .recommendedCards .recommendedCards__card .recommendedCards__card__content h4 {
    padding-top: 16px;
  }
}
.recommended .sectionWrapper .recommendedCards .recommendedCards__card .recommendedCards__card__content p {
  padding-top: 20px;
  font-size: 1rem;
  line-height: 32px;
}
@media screen and (max-width: 519px) {
  .recommended .sectionWrapper .recommendedCards .recommendedCards__card .recommendedCards__card__content p {
    padding-top: 18px;
  }
}

.announcement .sectionWrapper .announcement__contents .tab-wrapper {
  padding-bottom: 32px;
  text-align: center;
}
.announcement .sectionWrapper .announcement__contents .tab-wrapper .tab li {
  cursor: pointer;
  display: inline-block;
}
.announcement .sectionWrapper .announcement__contents .tab-wrapper .tab li:last-of-type {
  padding-left: 53px;
}
.announcement .sectionWrapper .announcement__contents .tab-wrapper .tab li.active {
  text-decoration: underline;
}
.announcement .sectionWrapper .announcement__contents .tabWrapper {
  display: none;
}
.announcement .sectionWrapper .announcement__contents .tabWrapper.show {
  display: block;
}
.announcement .sectionWrapper .announcement__contents .tabWrapper .cardsWrapper {
  width: 100%;
  padding-bottom: 60px;
}
@media screen and (max-width: 959px) {
  .announcement .sectionWrapper .announcement__contents .tabWrapper .cardsWrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
.announcement .sectionWrapper .announcement__contents .tabWrapper .cardsWrapper .announcement__cardsWrapper {
  width: 48%;
}
@media screen and (max-width: 959px) {
  .announcement .sectionWrapper .announcement__contents .tabWrapper .cardsWrapper .announcement__cardsWrapper {
    width: 90%;
    margin-right: auto;
    margin-left: auto;
  }
  .announcement .sectionWrapper .announcement__contents .tabWrapper .cardsWrapper .announcement__cardsWrapper:last-of-type {
    padding-top: 20px;
  }
}
.announcement .sectionWrapper .announcement__contents .tabWrapper .cardsWrapper .announcement__cardsWrapper .card {
  width: 100%;
  max-width: 570px;
  height: auto;
  padding: 15px 10px;
  background-color: #f6f6f6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 959px) {
  .announcement .sectionWrapper .announcement__contents .tabWrapper .cardsWrapper .announcement__cardsWrapper .card {
    max-width: unset;
  }
}
.announcement .sectionWrapper .announcement__contents .tabWrapper .cardsWrapper .announcement__cardsWrapper .card:not(:first-of-type) {
  margin-top: 20px;
}
@media screen and (max-width: 519px) {
  .announcement .sectionWrapper .announcement__contents .tabWrapper .cardsWrapper .announcement__cardsWrapper .card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-right: 25px;
    padding-left: 25px;
  }
}
.announcement .sectionWrapper .announcement__contents .tabWrapper .cardsWrapper .announcement__cardsWrapper .card .card__img {
  width: 103px;
  min-width: 103px;
  height: 100px;
}
.announcement .sectionWrapper .announcement__contents .tabWrapper .cardsWrapper .announcement__cardsWrapper .card .card__img img {
  -o-object-fit: cover;
  object-fit: cover;
  height: 100%;
}
.announcement .sectionWrapper .announcement__contents .tabWrapper .cardsWrapper .announcement__cardsWrapper .card .card-description {
  padding-left: 30px;
}
@media screen and (max-width: 519px) {
  .announcement .sectionWrapper .announcement__contents .tabWrapper .cardsWrapper .announcement__cardsWrapper .card .card-description {
    margin-right: auto;
    margin-left: auto;
    padding-left: 0;
    padding-top: 10px;
  }
}
.announcement .sectionWrapper .announcement__contents .tabWrapper .cardsWrapper .announcement__cardsWrapper .card .card-description .date {
  font-size: 0.875rem;
}
.announcement .sectionWrapper .announcement__contents .tabWrapper .cardsWrapper .announcement__cardsWrapper .card .card-description p {
  padding-top: 5px;
  line-height: 2;
}
@media screen and (max-width: 1179px) {
  .announcement .sectionWrapper .announcement__contents .tabWrapper .cardsWrapper .announcement__cardsWrapper .card .card-description p br {
    display: none;
  }
}

.obgc {
  background-color: #b8acacb9 !important;
}

.access {
  background-image: url("https://github.com/susumu3/sho_sample_middleEx/blob/main/image/concept-bg.png?raw=true");
  padding-bottom: 110px;
}
@media screen and (max-width: 519px) {
  .access {
    padding-bottom: 35px;
  }
}
.access .sectionWrapper .directionWrapper {
  margin-top: 25px;
  max-height: 370px;
}
@media screen and (max-width: 959px) {
  .access .sectionWrapper .directionWrapper {
    margin-top: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    max-height: unset;
  }
}
.access .sectionWrapper .directionWrapper .directionWrapper__image {
  max-width: 656px;
}
@media screen and (max-width: 959px) {
  .access .sectionWrapper .directionWrapper .directionWrapper__image {
    margin-right: auto;
    margin-left: auto;
  }
}
.access .sectionWrapper .directionWrapper .directionWrapper__image img {
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.access .sectionWrapper .directionWrapper .direction {
  margin-left: 83px;
}
@media screen and (max-width: 959px) {
  .access .sectionWrapper .directionWrapper .direction {
    margin-left: 0;
    padding: 0 130px;
  }
}
@media screen and (max-width: 519px) {
  .access .sectionWrapper .directionWrapper .direction {
    margin-left: 0;
    padding: 0 27px;
  }
}
.access .sectionWrapper .directionWrapper .direction h5 {
  font-weight: bold;
  font-size: 1rem;
  padding-top: 18px;
}
@media screen and (max-width: 519px) {
  .access .sectionWrapper .directionWrapper .direction h5 {
    padding-top: 16px;
    font-size: 0.875rem;
  }
}
.access .sectionWrapper .directionWrapper .direction p {
  font-size: 1rem;
  padding-top: 24px;
}
@media screen and (max-width: 519px) {
  .access .sectionWrapper .directionWrapper .direction p {
    font-size: 0.875rem;
    padding-top: 18px;
  }
}
.access .sectionWrapper .directionWrapper .direction a {
  font-size: 0.875rem;
  padding-top: 20px;
  display: inline-block;
}
@media screen and (max-width: 519px) {
  .access .sectionWrapper .directionWrapper .direction a {
    font-size: 0.875rem;
    padding-top: 18px;
  }
}
.access .sectionWrapper .directionWrapper .direction .footnote {
  padding-top: 24px;
  font-size: 1rem;
  line-height: 2;
}
@media screen and (max-width: 959px) {
  .access .sectionWrapper .directionWrapper .direction .footnote br {
    display: none;
  }
}
@media screen and (max-width: 519px) {
  .access .sectionWrapper .directionWrapper .direction .footnote {
    font-size: 0.75rem;
    padding-top: 18px;
    line-height: 1.5;
  }
}
.access .mapWrapper {
  width: 100%;
  max-width: 792px;
  height: 592px;
  min-height: 592px;
  margin-top: 69px;
  margin-right: auto;
  margin-left: auto;
}
@media screen and (max-width: 959px) {
  .access .mapWrapper {
    margin-top: 40px;
    padding-bottom: 50px;
    max-width: 656px;
  }
}
@media screen and (max-width: 519px) {
  .access .mapWrapper {
    height: 400px;
    min-height: 400px;
    padding-bottom: 30px;
  }
}

.footer {
  background-image: url("https://github.com/susumu3/sho_sample_middleEx/blob/main/image/footer_bg.png?raw=true");
}
.footer .footerInner {
  max-width: 1180px;
  padding-top: 34px;
  padding-right: 15px;
  padding-left: 15px;
  text-align: center;
  height: 520px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (max-width: 959px) {
  .footer .footerInner {
    padding-top: 44px;
    height: 480px;
  }
}
@media screen and (max-width: 519px) {
  .footer .footerInner {
    padding-top: 0;
    height: 355px;
  }
}
.footer .footerInner .footer-global-menu {
  margin-left: auto;
  margin-right: auto;
  width: 122px;
  -webkit-writing-mode: vertical-rl;
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
}
.footer .footerInner .footer-global-menu ul {
  text-align: left;
}
.footer .footerInner .footer-global-menu ul li:not(:last-child) {
  padding-left: 34px;
}
.footer .footerInner .footer-global-menu ul li a {
  display: block;
  text-orientation: upright;
  letter-spacing: 1em;
}
.footer .footerInner .footerLogo {
  margin-top: 82px;
}
@media screen and (max-width: 959px) {
  .footer .footerInner .footerLogo {
    margin-top: 53px;
  }
}
@media screen and (max-width: 519px) {
  .footer .footerInner .footerLogo {
    margin-top: 28px;
  }
}
.footer .footerInner .footerLogo .footerLogo__logo {
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 40px;
}
@media screen and (max-width: 519px) {
  .footer .footerInner .footerLogo .footerLogo__logo {
    width: 30px;
  }
}
.footer .footerInner .footerLogo .footerLogo__name {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 13px;
  width: 145px;
}
@media screen and (max-width: 519px) {
  .footer .footerInner .footerLogo .footerLogo__name {
    width: 110px;
  }
}
.footer .footerInner p {
  margin-top: 50px;
  padding-top: 10px;
}
@media screen and (max-width: 959px) {
  .footer .footerInner p {
    margin-top: 25px;
  }
}
.footer .footerInner p span {
  padding-top: 5px;
  padding-left: 10px;
  padding-right: 10px;
  display: inline-block;
}
@media screen and (max-width: 519px) {
  .footer .footerInner p {
    font-size: 0.875rem;
  }
}
.footer .footerInner a {
  display: block;
  margin-top: 13px;
}
.footer .footerInner a:last-of-type {
  padding-top: 14px;
}
.footer .footerInner a span {
  padding-top: 5px;
  padding-left: 10px;
  padding-right: 10px;
  display: inline-block;
}
@media screen and (max-width: 519px) {
  .footer .footerInner a {
    font-size: 0.875rem;
  }
}
.footer .copyright {
  width: 100%;
  bottom: 0;
  height: 60px;
  background-color: #000;
  text-align: center;
}
.footer .copyright small {
  color: #fff;
  font-size: 0.75rem;
  line-height: 60px;
}
/*# sourceMappingURL=style.css.map */
