// すべての要素にborder-boxを適用
*, *:before, *:after {
  box-sizing: border-box
}

html.scroll-prevent {
  overflow: hidden;
}

body {
    background-color: #fff; // ユーザーがブラウザの背景色を独自設定していた場合に、色によっては正常に閲覧できなくなることがあるので
    // Google fontのスタイル
    font-family: “Times New Roman”, “游明朝”, “Yu Mincho”, “游明朝体”, “YuMincho”, “ヒラギノ明朝 Pro W3”, “Hiragino Mincho Pro”, “HiraMinProN-W3”, “HGS明朝E”, “ＭＳ Ｐ明朝”, “MS PMincho”, serif;
    font-size: rem(16);
    font-weight: 500;
    color: $textColorBlack;
}

// モーダルオープンしたときのスクロール固定のために
body.fixed {
	position: fixed;
	width: 100%;
	height: 100%;
}

// 指定しておかないと画像の下に微妙な隙間ができてしまうことがある
img {
    vertical-align: bottom;
    width: 100%;
}

p, a, span {
  line-break: strict;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: 500;
}

a {
  text-decoration: none;
  color: $textColorBlack;
}

li {
  list-style: none;
}

.sectionWrapper {
  max-width: 1240px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 30px;
  padding-left: 30px;
}

.sectionTtlWrapper {
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  padding: 60px 30px 68px 30px;
  @include mq('sp') {
    padding: 60px 30px 50px 30px;
  }
  .sectionTtlWrapper__logo {
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 40px;
    height: 40px;
  }
  .sectionTtlWrapper__ttl {
    padding-top: 15px;
    font-weight: 500;
    font-size: rem(32);
    letter-spacing: 0.08em;
    line-height: 1.5;
    span {
      display: inline-block;
    }
    @include mq('sp') {
      font-size: rem(24);
      line-height: 1.2;
    }
  }
}

.flex-box {
  display: flex;
  justify-content: space-between;
}

.reverse {
  flex-direction: row-reverse;
}

input[type="submit"]{
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  appearance: none;
}

.hidden {
  overflow: hidden;
}