// fv
.fv {
  background-image: url('/image/oheya-header.png');
  background-position: center;
  background-size: cover;
  min-height: 580px;
  position: relative;
  @include mq('sp') {
    min-height: 85vh;
  }
  .fv__ttl {
    position: absolute;
    top: 57%;
    left: 50%;
    transform: translate(-50%, -50%);
    h1 {
      font-weight: 800;
      font-size: rem(34);
      color: $textColorWhite;
      line-height: 2.253;
      letter-spacing: 0.08rem;
      @include mq("sp") {
        font-size: rem(28);
      }
    }
  }
}

.modal {
  display: none;
  height: 100vh;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  .modal__bg {
    background: rgba(255, 255, 255, 0.5);
    height: 100vh;
    position: absolute;
    width: 100%;
  }
  .modal__content {
    display: block;
    position: absolute;
    top: 41%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 550px;
    min-height: 600px;
    background-color: #ffffff;
    overflow: scroll;
    @include mq("tab") {
      width: 400px;
    }
    @include mq("sp") {
      width: 300px;
    }
    .cross {
      margin-left: auto;
      top: 20px;
      right: 22px;
      display: block;
      width: 18px;
      height: 18px;
      position: relative;
      cursor: pointer;
      &::before,
      &::after {
        position: absolute;
        content: " ";
        top: 50%;
        left: 50%;
        width: 2px;
        height: 25px;
        background-color: #707070;
      }

      &::before {
        transform: translate(-50%, -50%) rotate(45deg);
      }

      &::after {
        transform: translate(-50%, -50%) rotate(-45deg);
      }
    }
    .modal__content__inner {
      padding: 12px 60px 90px 60px;
      .modal__content__ttl {
        text-align: center;
        font-size: rem(20);
        padding-bottom: 29px;
        border-bottom: 1px solid #e7e7e7;
        margin-bottom: 35px;
      }
      form {
        .box {
          margin-top: 14px;
          width: 100%;
          label {
            font-size: rem(16);
          }
          input {
            margin-top: 14px;
            width: 100%;
            height: 32px;
            border: 1px solid #e7e7e7;
            &::placeholder {
              color: #797878;
            }
          }
          select {
            margin-top: 14px;
            width: 100%;
            height: 36px;
            border: 1px solid #e7e7e7;
            &:invalid {
              color: #797878;
            }
          }
        }
        .submit-btn {
          margin-right: auto;
          margin-left: auto;
          margin-top: 64px;
          display: block;
          text-align: center;
          width: 198px;
          max-width: 198px;
          height: 42px;
          border: 1px solid #707070;
          font-size: rem(16);
          line-height: 42px;
          &:hover {
            opacity: 0.5;
            transition: $transition;
          }
        }
      }
    }
  }
}

// flatpickrの体裁
@import "flatpickr/dist/flatpickr.min.css";
$red: #f00;
$blue: #25bdcf;
// 日曜日：赤
.flatpickr-calendar
  .flatpickr-innerContainer
  .flatpickr-weekdays
  .flatpickr-weekday:nth-child(7n + 1),
.flatpickr-calendar
  .flatpickr-innerContainer
  .flatpickr-days
  .flatpickr-day:not(.flatpickr-disabled):not(.prevMonthDay):not(.nextMonthDay):nth-child(7n
    + 1) {
  color: $red;
}
// 土曜日：青
.flatpickr-calendar
  .flatpickr-innerContainer
  .flatpickr-weekdays
  .flatpickr-weekday:nth-child(7),
.flatpickr-calendar
  .flatpickr-innerContainer
  .flatpickr-days
  .flatpickr-day:not(.flatpickr-disabled):not(.prevMonthDay):not(.nextMonthDay):nth-child(7n) {
  color: $blue;
}
// 祝日
.flatpickr-day.is-holiday {
  background: lighten($red, 40%) !important;
}
// 入力欄の文字列を選択させないようにしておく
.flatpickr-calendar .numInput {
  user-select: none;
}
.flatpickr-wrapper {
  display: block;
  height: 36px;
}
.datepickerStyle {
  height: 100%;
}

// rooms
.rooms {
  .sectionWrapper {
    padding-top: 36px;
    padding-bottom: 150px;
    @include mq('lpc') {
      padding-top: 26px;
      padding-bottom: 100px;    
    }
    @include mq('tab') {
      padding-top: 26px;
      padding-bottom: 80px;    
    }
    @include mq('tab') {
      padding-top: 20px;
      padding-bottom: 60px;    
    }
    .breadcrumbs{
      ol {
        padding: 0;
        margin: 0;
        list-style: none;
        li {
          display: inline;
          &:after {
            content: '>';
            padding: 0 .2em;
          }
          &:last-child::after {
            content: '';
          }
          a {
            list-style: none;
            letter-spacing: 0.07em;
            &:hover {
              text-decoration: underline;
            }
            span {
              font-size: rem(14);
            }
          }
        }
      }
    }
    .rooms__intro {
      margin-top: 89px;
      text-align: center;
      @include mq('tab') {
        margin-top: 69px;
      }
      @include mq('sp') {
        margin-top: 35px;
      }
      p {
        font-size: rem(16);
        @include mq('sp') {
          font-size: rem(14);
        }
      }
      @include mq('sp') {
        br {
          display: none;
        }
      }
      span {
        line-height: 2;
        display: inline-block;
        &:nth-of-type(odd) {
          padding-top: 15px;
        }
        @include mq('sp') {
          line-height: 1.5;
          letter-spacing: -0.03em;
        }
      }
    }
    .roomIntroductionWrapper {
      width: 100%;
      .roomIntroductionWrapper__introduction {
        width: 100%;
        min-height: 438px;
        position: relative;
        @include mq('lpc') {
          min-height: auto;
          position: static;
        }
        &:first-of-type {
          margin-top: 73px;
          @include mq('tab') {
            margin-top: 63px;
          }
          @include mq('sp') {
            margin-top: 53px;
          }
        }
        &:not(:first-of-type) {
          margin-top: 84px;
          @include mq('tab') {
            margin-top: 54px;
          }
          @include mq('sp') {
            margin-top: 44px;
          }
        }
        .introductionImageWrapper {
          position: absolute;
          width: 525px;
          max-width: 525px;
          height: 300px;
          img {
            height:100%;
            object-fit: cover;
          }
          @include mq('lpc') {
            position: static;
            width: auto;
          }
          @include mq('sp') {
            width: 100%;
            margin-right: auto;
            margin-left: auto;
          }
        }
        .introduction__description {
          position: absolute;
          background-image: url('/image/room-introduction-bg.png');
          background-repeat: no-repeat;
          background-size: cover;
          width: 813px;
          max-width: 813px;
          height: 381px;
          @include mq('lpc') {
            margin-top: -30px;
            position: static;
            width: auto;
            max-width: 700px;
            height: auto;
          }
          @include mq('sp') {
            margin-top: 0;
            width: 100%;
            margin-right: auto;
            margin-left: auto;
          }
          h2 {
            font-size: rem(24);
            @include mq('sp') {
              font-size: rem(20);
              text-align: center;
            }
          }
          p{
            margin-top: 43px;
            font-size: rem(16);
            line-height: 2;
            @include mq('lpc') {
              br {
                display: none;
              }
            }
            @include mq('sp') {
              margin-top: 30px;
              font-size: rem(14);
              line-height: 1.5;
            }
          }
          .footnote {
            margin-top: 39px;
            @include mq('sp') {
              margin-top: 25px;
            }
            .footnoteText {
              margin-top: 3px;
              font-size: rem(14);
              line-height: 1.5;
              text-indent: -1em;
              padding-left: 1em;
              @include mq('sp') {
                line-height: 1.3;
                font-size: rem(12);
              }   
            }
          }        
        }
        .img1 {
          top: 0;
          left: 0;
          z-index: 2;
        }
        .int1 {
          padding: 60px 68px 110px 235px;
          bottom: 0;
          right: 0;
          @include mq('lpc') {
            padding: 50px 80px 80px 60px;
            margin-left: auto;
          }
          @include mq('sp') {
            padding: 30px 30px 60px 30px;
          }
        }
        
        .img2 {
          top: 0;
          right: 0;
          z-index: 2;
          @include mq('lpc') {
            margin-left: auto;
          }
        }
        .int2 {
          padding: 60px 290px 80px 60px;
          bottom: 0;
          left: 0;
          @include mq('lpc') {
            padding: 50px 80px 80px 60px;
          }
          @include mq('sp') {
            padding: 30px 30px 60px 30px;
          }
        }
        .img3 {
          top: 0;
          left: 0;
          z-index: 2;
        }
        .int3 {
          padding: 60px 79px 131px 238px;
          bottom: 0;
          right: 0;
          @include mq('lpc') {
            margin-left: auto;
            padding: 50px 80px 80px 60px;
          }
          @include mq('sp') {
            padding: 30px 30px 60px 30px;
          }
        }
      }
    }
  }
}




