.si-header {
  position: fixed;
  top: -80px;
  left: 0;
  z-index: 5;
  width: 100vw;
  background-color: $textColorWhite;
  .header--flex-box {
    display: flex;
    align-items: center;
  }
  .header-wrapper {
    height: 80px;
    max-width: 1960px;
    padding: 0 20px;
    margin-right: auto;
    margin-left: auto;
    .siteLogo__logo {
      display: inline-block;
      width: 200px;
      @include mq("tab") {
        width: 150px;
      }
      @include mq("sp") {
        width: 120px;
        margin-right: 15px;
      }
      img {
        width: 100%;
      }
    }
    .pc-global-menu {
      padding-left: 120px;
      ul {
        li {
          &:not(:last-child) {
            padding-right: 30px;
          }
          a {
            color: $textColorBlack;
            font-size: rem(16);
            font-weight: normal;
          }
        }
      }
      @include mq("tab") {
        display: none;
      }
    }
  }
  .header-btn {
    margin-left: auto;
    display: block;
    text-align: center;
    width: 179px;
    height: 54px;
    font-weight: bold;
    font-size: rem(14);
    line-height: 54px;
    color: $textColorWhite;
    background-color: #978F10;
    @include mq("tab") {
      width: 130px;
      height: 40px;
      font-size: rem(12);
      line-height: 40px;
    }
    img {
      display: inline-block;
      width: 22px;
      height: 22px;
      vertical-align: middle;
      margin-right: 10px;
      @include mq("tab") {
        width: 18px;
        height: 18px;
        margin-right: 0;
      }
    }
    &:hover {
      opacity: .7;
      transition: $transition;
    }
  }    
  


  // SPバーガーボタン
  .button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 0;
    appearance: none;
  }
  .hamburger {
    display: none;
    @include mq("tab") {
      display: block;
    }
    margin-left: auto;
    position: relative;
    top: 0;
    right: 0;
    z-index: 300;
    width: 50px;
    min-width: 50px;
    height: 50px;
    min-height: 50px;
    border-radius: 50%;
    outline: none;
    transition: $transition;
    box-shadow: 0 0 2rem transparent;
    &:hover,
    &:focus {
      box-shadow: 0 0 0.5rem rgba(161, 161, 161, 0.5);
    }
    @include mq("tab") {
      margin-left: 5px;
    }
  }
  
  .hamburger__line {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 22px;
    height: 2px;
    border-radius: 2px;
    background-color: $textColorBlack;
    transition: inherit;
    &::before,
    &::after {
      position: absolute;
      content: "";
      display: block;
      width: 100%;
      height: 100%;
      border-radius: inherit;
      background-color: inherit;
      transition: inherit;
    }
  }
  
  .is-drawerActive .sp-global-menu {
    transform: translateX(0px);
    transition: 0.3s;
  }
  
  .is-drawerActive .drawer-background {
    visibility: visible;
    opacity: 0.8;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  
  .hamburger__line::before {
    top: -7px;
  }
  
  .hamburger__line::after {
    top: 7px;
  }
  
  .hamburger[aria-expanded="true"] {
    border: 1px solid $textColorBlack !important;
  }
  
  .hamburger[aria-expanded="true"] .hamburger__line {
    background-color: transparent;
  }
  
  .hamburger[aria-expanded="true"] .hamburger__line::before,
  .hamburger[aria-expanded="true"] .hamburger__line::after {
    top: 0;
    background-color: $textColorBlack;
  }
  
  .hamburger[aria-expanded="true"] .hamburger__line::before {
    transform: rotate(45deg);
  }
  
  .hamburger[aria-expanded="true"] .hamburger__line::after {
    transform: rotate(-45deg);
  }
}

.si-header.top0 {
  top: 0 !important;
}
